<h2 *ngIf="shoppingCartItems.size===0">Shopping cart is empty (Align BarCode with entire View Port)</h2>
<div *ngFor="let article of this.shoppingCartItems | keyvalue" class="shopping-cart-item">


  <div class="article-name">{{ article.key.name }}</div>
  
  <div *ngIf="article.value > 1; else zerocount" class="article-count">{{ article.value }} X ${{article.key.price}}</div>
  <ng-template #zerocount> 
    <div class="article-count">${{article.key.price}}</div>
  </ng-template>

</div>
<div *ngIf="shoppingCartItems.size > 0" class="shopping-cart-total">
  Total: {{ totalPrice }} USD
</div>
