.error-message {
  background-color: black;
  text-align: center;
  color: red;
  padding: 8px;
}
.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  display: none;
}

.viewport {
  height: 400px;
  width: 100%;
}

.viewport::ng-deep video {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.shopping-cart {
  padding: 16px;
}

.instructions {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  font-size: 0.6em;
  z-index: 100;
}

.center {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
  margin-left: 10px;
  // border: 3px solid green;
}

.spinner{
  margin-top: 60px;
}

.exit{
  width: 300px;
}

@media print {
  #interactive {
    display: none !important;
  }
  .center .exit{
    display: none !important;
  }
}


